* {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.3;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.header {
    background-image: url(../images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.container {
    max-width: 1840px;
    padding: 0 10px;
    margin: 0 auto;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}



.menu__btn {
    width: 70px;
    height: 23px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu__btn span {
    background-color: #FF5017;
    display: block;
    height: 3px;
    width: 100%;
}

.header__content {
    height: calc(100vh - 135px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.title {
    font-size: 345px;
    background: linear-gradient(180deg, #000000 0%, #830B02 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 0.75;
    padding-left: 150px;
}

.header__imeges {
    max-width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 50;
    bottom: 0;
    margin: auto;
}

.subtitle {
    font-size: 160px;
    background: linear-gradient(90deg, #FF5017 0%, #000000 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    align-self: flex-end;
    padding-right: 75px;
    padding-bottom: 50px;
}

.info {
    background-color: #f8f8f8;
    padding: 170px 0;
}

.info__title {
    font-size: 130px;
    line-height: .8;
    text-transform: uppercase;
    text-align: center;

}

.info__img {
    max-width: 100%;
    margin: 0 auto;
}

.info__content {
    display: flex;
    padding-left: 155px;
    padding-right: 100px;
    margin-bottom: 170px;
    gap: 94px;
}

.info__list {
    column-count: 2;
    gap: 140px;
}

.info__list dt,
.info__list dd {
    display: inline-block;
}

.info__list-line {
    margin-bottom: 22px;
}

.order-box {}

.price {
    font-size: 46px;
    margin-bottom: 40px;
}

.order {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    padding: 30px 40px;
    background: linear-gradient(181.77deg, #FF5017 2.24%, #FF6837 99.25%);
}

.info__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    /* margin: 0 50px;   */
}

.gall__img {
    max-width: 500px;
}

.color {

    background-color: #f8f8f8;
}
.color__text {
    font-size: 160px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
}
.color__gallery {
    background-color: #13171c;
}
.color__gallery-start,
.color__gallery-end {
    width: 100%;
}
.color__gallery-box {
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 170px 50px;
}
.color__gallery-box img {
    max-width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
}
.gallery__box-item {
}
.gallery__box-text {
    font-size: 36px;
    color: #fff;
}
.color__gallery-end {
}

.contacts {
    background-color: #13171c;
    padding: 170px 0 100px;
    padding-bottom: 114px;
}
.contacts__title {
    font-size: 36px;
    color: #FF5017;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 67px;
}
.contacts__box {
    max-width: 1350px;
    display: flex;
    justify-content: space-between;
    gap: 40px 200px;
    margin: 0 auto;

}
.contacts__info {
    max-width: 560px;
    color: #fff;
}
.contacts__headtext {
    color: #BCBCBC;
    margin-bottom: 20px;
}
.contacts__text {
    max-width: 477px;
    padding-top: 10px;
    margin-bottom: 20px;
}
.phone {
}
.contacts__text-rules {
    max-width: 330px;
    font-size: 14px;
    padding-top: 77px;
}
.contacts__form {
}
.form  {
    flex-basis: 594px;
}
.form__imput {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.3;
    font-style: normal;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    max-width: 594px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #fff;
}
.form__imput::placeholder {
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.3;
    font-style: normal;
    color: #fff;
}
.order {
}
.form__order {
    width: 90%;
}
.futter {
    font-size: 14px;
    color: #fff;
    background-color: #13171c;
    text-align: center;
    padding: 15px  0 90px;
}
.footer__link {

}