* {
    box-sizing: border-box;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}

/* body {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    background-color: #0B0B0B;
    color: #fff;
} */

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    background-color:transparent ;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.container {
    min-width: 1840px;
    padding: 0 10px;
    margin: 0 auto;
}
.header {
    min-height: 100vh;
    background-image: url(../images/big_urus.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header__top {
    display: flex;
    justify-content: space-between;

}
.logo {
}
.logo__img {
}
.menu {
}
.menu__btn {
    width: 70px;
    
}
.menu__btn span{
    background-color: #FF5017;
    display: block;
    height: 3px;
    height: 23px;
}
.header__content {
}
.title {
}
.header__images {
}
.subtitle {
}








