* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    background-color: #0B0B0B;
    color: #fff;
}

a {
    color: #fff;
    text-decoration: none;
}

.header {}

.container {}

.header__top {}

.logo {}

.header__link {}

.header__logo {}

.header__btn {}

.header__content {}

.header__content-title {}

.header__content-text {}

.header__content-btn {}

.btn {}


58.00