html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Yeseva One', cursive;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.2;
}

a {
    text-decoration: none;
    color: inherit;
}
ul {
    list-style: none;
}



.header {
    background-color: #FFF8F3;
}

.container {
    max-width: 1180px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.header__inner {
    padding-top: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {}

.logo__img {}

.menu__list {
    display: flex;
    gap: 20px;
}
.menu__btn {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    border: none;
    background-color: transparent;
    padding: 0;
    border-radius: 0;
}
 .menu__btn span{
    height: 1px;
    background-color: #7B6152;
    width: 100%;
}

.menu__list-item {}

.menu__list-link {
    text-transform: uppercase;
}

.phone {
    position: relative;
}
.phone::before {
    content: '';
    position: absolute;
    background-image: url(../images/phone.svg);
    width: 20px;
    height: 20px;
    left: -23px;
    top: -3px;
}

.footer {
    padding-top: 40px;
    padding-bottom: 35px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    width: 230px;
}

.emeil {
    margin: 17px 0;
}

.footer__social {
    display: flex;
    gap: 15px;
}

.footer__social-item {}

.footer__social-link {}

.footer__social-img {}



@media(max-width:1000px) {
    .container {
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media(max-width:900px) {
    .footer__inner{
        flex-wrap: wrap;
    }
    .footer__contacts {
        width: 100%;
        text-align: center;
        padding-top: 15px;
    }
    .footer__social {
        justify-content: center;
    }
}
@media(max-width:768px) {
    body {
        font-size: 10px;
    }
    .container {
        max-width: 640px;
    }
    .phone::before {
        width: 14px;
        height: 14px;
        left: -16px;
        top: -3px;
        background-size: cover;
    }
}
@media(max-width:640px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
    .header__menu {
        order: 1;
    }
    .menu__btn {
        display: flex;
    }
    .menu__menu-list {
        display: none;
    }


@media(max-width:580px) {
    .footer {
        font-size: 14px;
        padding: 50px 0;
    }
    .footer__inner {
        flex-direction: column;
    }
    .footer__menu {
        padding: 50px 0;
        text-align: center;
    }
    .footer__menu-list {
        flex-direction: column;
    }
}
2.14