.benefits {
  padding: 60px 0 80px;
}

.list-reset {}

.benefits_list {}

.benefits__item {
  grid-column: 3 span;
  background-position: left top;
  background-size: 24px 24px;
  background-repeat: no-repeat;
  padding-top: 40px;
}

.benefits__item--next {
  background-image: url(../../images/next-ikon.svg);
}
.benefits__item--made {
  background-image: url(../../images/made-ikon.svg);
}
.benefits__item--unbeatable {
  background-image: url(../../images/Unbeatable-ikon.svg);

}
.benefits__item--recycled {
  background-image: url(../../images/Recycled-ikon.svg);

}

.benefits__subtitle {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--dark-primary);
  margin: 0;
  margin-bottom: 8px;
}

.benefits__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--dark-primary);
  margin: 0;
}