.header {}

.header__top {
  --container-width: 1330px background-color: var(--white);
  padding: 23px 0;
}

.header__container {
  display: flex;
}

.header__top-container {
  align-items: center;
  justify-content: space-between;
}

.header__bottom-container {
  align-items: center;
  justify-content: space-between;
}

.header__details {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 47px;
}

.header__list {
  list-style: none;

  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 32px;
}

.header__item {}

.header__link {
  font-weight: 400;
  font-size: 16px;
  color: #726e8d;
  text-decoration: none;
  transition: var(--main-trs);
}

@media (any-hover: hover) {
  .header__link:hover {
    color: var(--primary);
  }
}
.header__link:active {
  color: var(--dark-primary);
}

.header__link:focus {
  outline: none;
}

.header__link:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.header__buttons {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__buton {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2A254B;
  transition: var(--main-trs);
}
.header__buton svg path {
  fill: currentColor;
}

@media (any-hover: hover) {
  .header__button:hover {
    color: #726e8d;
  }
}
.header__buton:active {
  color: var(--dark-primary); 
}

.header__buton:focus {
  outline: none;
}

.header__buton:focus-visible {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

.header__botom {
  background: var(--light-grey);
  padding: 20px 0;
}



.nav__list {}

.item {}

.nav__link {}
