.header {}

.header__top {}

.header__container {
  display: flex;
}

.header__top-container {
  align-items: center;
  justify-content: space-between;
}

.header__bottom-container {
  align-items: center;
  justify-content: space-between;
}

.logo {}

.logo__img {}

.header__details {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.header__list {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 32px;
}

.header__item {}

.header__link {
  font-weight: 400;
  font-size: 16px;
  color: #726e8d;
}

.header__buttons {}

.header__buton {}

.header__bottom {}

.nav {}

.nav__list {}

.item {}

.nav__link {}