.products {
  padding-top: 80px;
  padding-bottom: 56px;
}
.products__title {
  padding-bottom: 30px;
  margin: 0;
}
.products__item {
  grid-column: 3 span;
}
.products__item--big {
  grid-column: 6 span;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.products__top {
  position: relative;
}

.products__image {
  display: block;
  max-width: 100%;
  object-fit: cover;
}

.products__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.product__title {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  color: var(--dark-primary);
}

.products__link {
  color: inherit;
  text-decoration: none;
}

.products_price {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: var(--dark-primary);
}