.oswald-uniquifier> {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}



.open-sans-uniquifier> {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.header {
}
.container {
}
.header__line {
}
.logo {
}
.burger {
}
.burger__line {
}
.header__title {
}
.subtitle {
}