html {
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Inter' sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.header {
    background-color: #151515;

}
.header-main {
    /* background-color: transparent; */
}
.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
.header__inner {
    padding-top: 40px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.logo {
}
.logo__img {
}
.menu {
}
.menu__list {
    display: flex;
    justify-content: space-between;
    gap: 35px;

}
.menu__list-item {
}
.menu__list-link {
    font-style: normal;
    font-weight: 700;
    line-height: 19px;
    color: #fff;
    text-transform: uppercase;
}


.footer {
    background-color: #151515;
    padding: 50px 0 32px;
    color: #fff;
}
.container {
}
.footer__menu {

    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}
.footer__menu-list {
}
.footer__menu-item + .footer__menu-item {
    padding-top: 20px;
}
.footer__menu-title {
    font-weight: 700;
    font-size: 24px;
}
.footer__menu-link {
}
.app {
}
.app__item {
}
.app__item-link {
}
.app__images {
}
.footer__copy {
}
.footer__copy-text {
}
.copy__nav {
}
.copy__nav-list {
}
.copy__nav-item {
}
.copy__nav-link {
}
